extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/login_specific.css')

block content
    div(id='loginForm')
            h1 creating
            form(method='post' action='/login/attempt')
                input(id='username' type='text' name='username' placeholder='Username')
                input(id='password' type='password' name='password' placeholder='Password')
                input(id='loginBtn' type='submit' value='Login')
                input(id='createBtn' type='submit' value='Create' formaction='/login/create')