extends layout

block append head
    script(type="text/javascript" src="/javascript/map.js")

block content
    h1(id='title')= title
    //- form to load map and create map
    button(onclick="hello('" + title + "')")
        | Create 
    div(id='map')


