body * {
    margin: 0 auto;
}

body {
    background-color: whitesmoke;
}

#statusbar {
    width: 90vw;
    height: 10vh;
    background-color: #333;
    border: 5px solid #333;
    display: flex;
    flex-direction: row;

    * {
        color: whitesmoke;
        text-align: center;
        line-height: 10vh;
        letter-spacing: 1px;
    }

    #resetBtn {
        width: 25vw;
    }
    
    #flagBtn {
        width: 25vw;
    }

    #title {
        width: 50vw;
        font-size: 25px;
    }

    #numBombs {
        float: left;
        width: 20vw;
    }
    
    #numMoves {
        float: right;
        width: 20vw;
    }

    .numberTxt {
        color: yellow;
        font-family: monospace;
    }
}

#container {
    background-color: whitesmoke;
    border: 5px solid #333;
    width: 90vw;
    height: 80vh;

    #menu {
        h1 {
            text-align: center;
            padding: 10px 10px 0px 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            letter-spacing: 3px;
        }
    }
    
    #gameboard {
        background-color: whitesmoke;
        width: 90vw;
        height: 80vh;
        display:  grid;
        align-content: center;
        justify-content: center;
        gap: 2px;

        .cell {
            background-color: #ddd;
            transition-duration: 0.5s;
            transition-delay: 0.2s;
            -webkit-transition-duration: 0.5s;
            -webkit-transition-delay: 0.2s;

            p {
                display: none;
            }

            &:hover {
                cursor: pointer;
                background-color: #555;
            }
        }

        .snooped {
            background-color: #333;

            p {
                display: block;
                text-align: center;
                color: whitesmoke;
            }
        }

    }
}


#easyModeBtn {
    background-color: lightgreen;
    &:hover {
        background-color: lighten($color: lightgreen, $amount: 10);
    }
}

#mediumModeBtn {
    background-color: rgb(236, 216, 101);
    &:hover {
        background-color: lighten($color: rgb(236, 216, 101), $amount: 10);
    }
}

#hardModeBtn {
    background-color: lightcoral;
    &:hover {
        background-color: lighten($color: lightcoral, $amount: 10);
    }
}

.modeBtn {
    margin: 10px auto 10px;
    height: 20vh;
    min-width: 400px;
    width: 800px;

    p {
        text-align: center;
        font-size: 25px;
        line-height: 20vh;
    }

    // &:hover {
    //     cursor: pointer;
    // }
}

.hide {
    display: none;
}